.cardProduct {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  img {
    padding: 20px;
    width: 100%;
    height: 140px;
    object-fit: contain;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }

  .titleProduct,
  .titleCategory {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .titleCategory {
    text-transform: uppercase;
    h1 {
      width: 60%;
      color: #333;
    }
  }

  h2 {
    width: 60%;
    color: #333;
  }
}

.catalogs {
  display: flex;
  flex-wrap: wrap;
}

.catalogTable {
  padding: 30px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  width: 100%;
}

table {
  width: 100%;
  th {
    width: 20%;
    height: 50px;
    font-weight: 600;
    color: #333;
    text-align: center;
  }
  td {
    font-weight: 300;
    align-items: center;
    text-align: center;
    color: #333;
    padding: 10px 10px;
    border-top: 1px solid hsla(3, 0%, 33%, 0.1);
  }
  hr {
    width: 90vw;
  }
}

table,
th {
  padding: 0px 10px 10px;
  border-collapse: collapse;
}

body .thSmall {
  width: 12%;
}

.editIcon {
  font-weight: 300;
  color: #333;
}

.deleteIcon {
  cursor: pointer;
  color: #2480f7;
  font-weight: 300;
}

.text {
  color: #000;
}
