.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 1000;
  background-color: #f6f5f7a3;
  transition: all 0.3s;
}

.basketModal {
  padding: 20px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 680px;
  .title {
    display: flex;
    position: relative;
    justify-content: center;
    h3 {
      font-size: 30px;
      color: #333;
      text-align: center;
      margin: 20px 0px;
      font-weight: 500;
    }
    span {
      position: absolute;
      cursor: pointer;
      right: 0;
    }
  }
  .productPrice {
    width: 50px;
  }
  .line {
    display: block;
    margin: 0 0 24px;
    border-bottom: 1px solid #ebebeb;
    padding: 0 12px 24px;
  }
  .totalPrice {
    width: 170%;
    display: flex;
    justify-content: space-between;
    margin: 10px 4px 4px;
    div {
      font-size: 18px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    margin-top: 20px;
    padding: 0px !important;
    span {
      cursor: pointer;
      text-decoration: underline;
      cursor: pointer;
    }
    button {
      cursor: pointer;
      font-size: 12px;
      padding: 10px 60px;
    }
  }
}

.productItems {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
  .item {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    .productImg {
      width: 160px;
      height: 160px;
      img {
        max-width: 150px;
        max-height: 160px;
        object-fit: cover;
      }
    }

    .product_info {
      width: 100%;
      padding: 0px 30px;
      display: flex;
      justify-content: space-between;
      .info_option {
        display: flex;
        flex-direction: column;
        justify-content: end;
      }
      .title {
        display: flex;
        font-weight: 500;
        font-size: 13px;
        color: #333;
        margin: 0 0 1px;
        line-height: 1.5;
        text-transform: uppercase;
      }
      .classification {
        display: flex;
        margin: 5px 0px;
        font-size: 11px;
        text-transform: uppercase;
        color: #666;
      }
      .counter {
        display: flex;
        align-items: center;
        span {
          cursor: pointer;
          font-weight: 300;
          margin-right: 10px;
        }
        .count {
          margin-right: 10px;
        }
      }
    }
  }
}
