.HeaderShop {
  font-size: 13px;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 0px 40px;
    span {
      color: #fff;
      width: 200px;
      display: flex;
    }
    span:last-child {
      justify-content: end;
    }
    span:first-child {
      justify-content: start;
    }
    ul {
      margin: 0px;
      display: flex;
      li:first-child {
        background-color: #f6255a;
      }
      li {
        a {
          text-decoration: none;
          padding: 0px 10px;
          color: #fff;
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    img {
      width: 250px;
      object-fit: cover;
    }

    .connection {
      width: 250px;
      a {
        color: #792c9b;
        text-decoration: none;
      }
      p {
        color: #666666;
        margin: 5px 0px;
        font-weight: 300;
      }
    }
    .user {
      width: 250px;
      display: flex;
      flex-direction: column;

      .userAuth {
        justify-content: end;
        display: flex;
        margin-right: 6px;
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          text-align: center;
          font-weight: 500;
          color: #282828;
          &:hover {
            color: #792c9b;
            transition: color 0.5s;
          }
          span {
            margin-right: 4px;
            color: #792c9b;
            font-weight: 500;
          }
        }
        .authBlock {
          display: flex;
          align-items: center;
          span {
            margin-left: 15px;
            color: #792c9b;
            font-weight: 600;
          }
          .userOut {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #282828;
            span {
              margin-right: 4px;
              font-weight: 500;
              color: #282828;
            }
            &:hover {
              color: #792c9b;
              transition: color 0.5s;
              span {
                color: #792c9b;
                transition: color 0.5s;
              }
            }
          }
        }
      }
      .search {
        display: flex;
        justify-content: center;
        position: relative;
        .fieldInput {
          // margin: 10px;
          label {
            display: none;
          }
          input {
            background-color: #f4f3f5;
            border-radius: 0px;
            border: 1px solid #cccccc;
            font-size: 11px;
            line-height: 32px;
            height: 32px;
            padding: 0 26px 0 11px;
            width: 250px;
          }
        }
        button {
          position: absolute;
          background-color: transparent;
          padding: 0px;
          margin: 0px;
          top: 25px;
          right: 7px;
          span {
            color: #b1afb3;
            font-weight: 300;
            font-size: 21px;
          }
        }
      }
    }
  }
}
