.catalogFilters {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    width: 100%;
    label, span {
        color: #333;
      }
      span {
        font-weight: 600;
        margin-bottom: 12px;
      }
    .search {
      display: flex;
      margin-top: 30px;
      flex-direction: column;
      input {
        background-color: #f4f3f5;
        border: 1px solid #ccc;
        width: 17vw;
        height: 39px;
        padding: 2px 5px;
        margin: 0px 6px;
      }
      input:focus {
        outline: 1px solid #2684FF;
      }
    }
    
    .selectCategory {
      display: flex;
      flex-direction: column;
      .css-13cymwt-control {
        cursor: pointer;
        margin-top: 12px;
        border-radius: 0px;
        background-color: #f4f3f5;
        border: 1px solid #ccc;
        width: 17vw;
      }
      .select__control--is-focused {
        margin-top: 12px;
        border-radius: 0px;
        background-color: #f4f3f5;
        border: 1px solid #ccc;
        width: 17vw;
      }
      .select__menu {
        background-color: #f4f3f5;
        .select__option {
          cursor: pointer;
          color: #333;
        }
      }
      label {
        margin: 3px 0px;
      }
      input {
        padding: 2px 5px;
        font-size: 15px;
      }
    }
    .filterFromTo {
      display: flex;
      flex-direction: column;
      .inputFromTo {
        display: flex;
        text-align: center;
      }
      label {
        margin: 9px 0px 0px;
      }
      input {
        background-color: #f4f3f5;
        border: 1px solid #ccc;
        border-radius: 0px;
        height: 22px;
        width: 46px;
        line-height: 26px;
        padding: 2px 5px;
        margin: 5px 6px 0px;
        font-size: 15px;
        // padding: 0 26px 0 11px;
      }
    }
    .buttonFilter {
      height: 45px;
      width: 150px;
      padding: 10px;
      font-size: 13px;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }