.containerCatalog {
  display: flex;
  flex-direction: column;
  width: 85.5vw;
}

.notFound {
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  span {
    font-size: 36px;
  }
}

.line {
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  margin: 22px 0px 10px;
}

.catalogs {
  display: flex;
  flex-wrap: wrap;
}
